* {
    margin: 0;
    padding: 0;
}

html {
    background-color:darkgray;
}

header {
    padding: 20px;
    background: gray;
}

#content {
    background: snow;
    padding: 20px;
}

ul {
    list-style: none;
}

header ul li {
    float: left;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    color: black;
}

footer {
    background: darkgray;
    padding: 20px;
}